@import "./sass/reset.scss";
@import "./sass/breakpoints.scss";
@import "./sass/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: $black;
  background-color: $white;
  padding: 16px;
}

// Header.js component
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-brand {
    font-size: 24px;
    font-weight: 600;
  }
  .header-form {
    position: relative;
    input {
      position: absolute;
      width: 0px;
      height: 0px;
      opacity: 0;
      &:focus ~ label {
        background-color: lighten($red, 20%);
      }
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      svg {
        margin-right: 8px;
      }
      span {
        color: $white;
        font-weight: 600;
      }
      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }
}

// PhotoGrid.js component
.photo-grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  @include media("<=tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media("<=phone") {
    grid-template-columns: 1fr;
  }
  .photo {
    height: 0;
    padding: 50% 0;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    img {
      min-width: 100%;
      max-width: 120%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
