@import "./sass/reset.scss";
@import "./sass/breakpoints.scss";
@import "./sass/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: $black;
  background-color: $white;
  padding: 16px;
}

// Header.js component
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-brand {
    font-size: 24px;
    font-weight: 600;
  }
  .header-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: $red;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:hover {
      border: none;
      background-color: lighten($red, 10%);
    }
  }
}

// PhotoGrid.js component
.photo-grid {
  margin-top: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  @include media("<=tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media("<=phone") {
    grid-template-columns: 1fr;
  }
  .photo {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    img {
      height: 100%;
    }
  }
}
